[Unit]
Description=Check GHCR periodically for ui-ecm updates

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true
Unit=ui-ecm-update.service

[Install]
WantedBy=timers.target

